<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sách</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-4">
    <h2 class="mb-3">Tất cả sách</h2>
    <div class="row">
        <div class="col-md-3 mb-3" th:each="b : ${books}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${b.title}"></h5>
                    <p class="card-text" th:text="${b.author}"></p>
                    <span th:src="@{/images/{img}(img=${b.image})}"
                          style="display:block; margin:0 auto;">
                    <a th:href="@{/books/{id}(id=${b.id})}" class="btn btn-primary w-100">Xem</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


