<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sách</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-4">
    <div class="card p-3">
        <h2 th:text="${book.title}"></h2>
        <p>Tác giả: <span th:text="${book.author}"></span></p>
        <img class="img-fluid mx-auto d-block"
             th:src="@{/images/{img}(img=${book.image != null ? book.image : 'no-image.png'})}">
        <p>NXB: <span th:text="${book.publisher}"></span></p>
        <p>Năm XB: <span th:text="${book.publishYear}"></span></p>
        <p>Giá:
            <span th:text="${#numbers.formatDecimal(book.price, 0, 'POINT', 0, 'COMMA')}"></span> đ
        </p>

        <!--        <span th:style="'color:' + ${book.category.color}"-->
        <!--              th:text="${b.category.name}">-->
        <!--        </span>-->
        <p>Số lượng: <span th:text="${book.quantity}"></span></p>
        <form th:if="${book.quantity > 0}"
              th:action="@{/cart/add/{id}(id=${book.id})}"
              method="post">
            <button class="btn btn-success">Thêm vào giỏ</button>
        </form>

        <p th:if="${book.quantity == 0}" class="text-danger">
            Sách đã hết
        </p>

    </div>
</div>
</body>
</html>