<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2>Sách mới & nổi bật</h2>

    <div class="book-grid">
        <div class="card" th:each="book : ${books}">
            <h3 th:text="${book.title}"></h3>
            <p>Tác giả: <span th:text="${book.author}"></span></p>
            <!--            <img th:src="@{/images/{img}(img=${b.image})}">-->
            <p>NXB: <span th:text="${book.publisher}"></span></p>
            <p>Giá: <span th:text="${book.price}"></span> đ</p>

            <a th:href="@{/books/{id}(id=${book.id})}">
                <button>Xem chi tiết</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>